test/
myPy
build/
C.dat
dict.json
file.json
K.dat
Q.dat
R.dat
SAR.dat
Told.dat
test.json
W.dat
__pycache__/Tess.cpython-39.pyc
_appTest.py
CMRCode/
CpTemperature/*.dat
myPy.zip
new file
P.dat
example_*.py
tessenv/
.vscode/


_skbuild/
tess.egg-info/
v/lib/python3.12/site-packages/pip/_internal/cli/__pycache__/base_command.cpython-312.pyc
